<div id="footer-top">
	<div class="container">
    	<div class="row">
        	<div id="logo-2" class="col-lg-3 col-md-6 col-sm-12">
            	<h2><a href="#"><img src="images/logo2.png"></a></h2>
                <p>
                	Mua hàng và thanh toán Online<br/>
                    Mua hàng trả góp Online<br/>
                    Chính sách giao hàng<br/>
                    Tra điểm Smember<br/>
                    Xem ưu đãi Smember<br/>
                    Tra thông tin bảo hành<br/>
                    Tra cứu hoá đơn điện tử<br/>
                    Thông tin hoá đơn mua hàng<br/>
                    Trung tâm bảo hành chính hãng<br/>
                    Quy định về việc sao lưu dữ liệu
                </p>
            </div>
            <div id="address" class="col-lg-3 col-md-6 col-sm-12">
            	<h3>Địa chỉ</h3>
                <p>86 - Đường Láng - Cầu Giấy - Hà Nội</p>
                <p>Số 30 Ngõ 219 - Nguyễn Ngọc Vũ - Trung Hòa - Cầu Giấy - Hà Nội</p>
            </div>
            <div id="service" class="col-lg-3 col-md-6 col-sm-12">
            	<h3>Dịch vụ</h3>
            	<p>Bảo hành rơi vỡ, ngấm nước Care Diamond</p>
            	<p>Bảo hành Care X60 rơi vỡ ngấm nước vẫn Đổi mới</p>
            </div>
            <div id="hotline" class="col-lg-3 col-md-6 col-sm-12">
            	<h3>Hotline</h3>
            	<p>Phone Sale: (+84) 0354 782 221</p>
                <p>Email: daoducthinh888@gmail.com</p>
            </div>
        </div>
    </div>
</div>

<!--	Footer	-->
<div id="footer-bottom">
	<div class="container">
    	<div class="row">
        	<div class="col-lg-12 col-md-12 col-sm-12">
            	<p>
                    Công ty TNHH Thương Mại và Dịch Vụ Kỹ Thuật DIỆU PHÚC - GPĐKKD: 0316172372 cấp tại Sở KH & ĐT TP. HCM. Địa chỉ văn phòng: 350-352 Võ Văn Kiệt, Phường Cô Giang, Quận 1, Thành phố Hồ Chí Minh, Việt Nam.
                </p>
            </div>
        </div>
    </div>
</div>
<!--	End Footer	-->













</body>
</html>